@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  background-color: #f5eec2;
}

@media (min-width: 768px) {
  .buttonGenerator {
    text-align: center;
    padding: 25px;
  }

  #randomButton {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    border-radius: 20px;
    width: 500px;
    height: 40px;
    justify-content: center;
    text-align: center;
    background-color: #39395f;
    color: #ffff;
    cursor: pointer !important;
  }

  #id,
  #url {
    display: none;
  }

  .imgCat {
    text-align: center;
    width: 700px;
    height: 300px;
    margin: 0 auto;
  }

  #image img {
    box-sizing: border-box;
    height: 490px;

    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  body {
    width: 100%;
  }

  .buttonGenerator {
    text-align: center;
    padding: 15px;
  }

  #randomButton {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    justify-content: center;
    text-align: center;
    background-color: #39395f;
    color: #ffff;
    cursor: pointer !important;
  }

  #id,
  #url {
    display: none;
  }

  .imgCat {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  #image img {
    width: 100%;
    margin-top: 15px;
  }
}
